include /pug/_config/modules/all/page.pug
doctype html
html(lang=page.lang, xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
  head
    link(href=require('/atomic/css/index.styl') rel="stylesheet")
  body
    header header
    block content
    footer footer
    script(src=require('/typescript/index.ts') defer='defer')
